name: CI
 
on:
    push:
        branches:
            - main # 这里只配置了main分支
            
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:
            
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        environment:
          name: demo
          url: ${{ steps.deploy_to_pages.outputs.github_pages_url }}
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "16.x"
            - run: node -v
            - name: Vite Github Pages Deployer
              uses: skywarth/vite-github-pages-deployer@v1.2.0 #version updated
              id: deploy_to_pages
